/*-------------------------------------------------------*\
    Mixtape page
/*-------------------------------------------------------*/

div.mixtape {
  background: url(../images/kittehs.gif) no-repeat;
  background-color: darken($qc-80sblue,20);
  background-size: 100% auto;
  background-position: center 18px;
  padding: 10rem $page-margin-narrow;
  min-height: 500px;

  @include break-at(640px) {
    padding: 4rem $page-margin-wide;
    background-position: center center;
  }

  .content {
    padding: $page-margin-narrow;
    background: $qc-white;
    text-align: center;
    display: flex;

    @include break-at(640px) {
      padding: 6rem;
      width: 500px;
      height: 500px;
      margin: 100px auto;
      border-radius: 50%;
    }

    .content__inner {
      align-self: center;
    }

    a {
      display: block;
      width: 80%;
      background: $qc-maroon;
      padding: 2rem;
      color: #fff;
      margin: 0 auto;

      @include break-at(640px) {
        width: 50%;
      }

      &:hover {
        background: $qc-orange;
        border-bottom: none;
      }
    }

    .details {
      padding: 2rem 2rem 0;
    }
  }
}

