/*-------------------------------------------------------*\
    Mailchimp overlay
/*-------------------------------------------------------*/


// For the email signup modal
div.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#333,0.65);

  position: fixed;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 6000;

  .modal {
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease-in-out;
  }

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -6000;

    .modal {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
      transition: transform 0.4s ease-in-out;
    }
  }

  #mc_embed_signup {
    width: 70%;
    margin: 0 auto;
    background: white;
    max-width: 980px;
    clear: both;
    height: auto;
    min-height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;

    @include break-at(720px) {
      flex-direction: row;
    }

    .close {
      background: #fff;
      position: absolute;
      top: 10px;
      right: 2rem;
      z-index: 10;
      padding: 0.5rem;

      a {
        display: block;
        width: 36px;
        font-weight: bold;
      }
    }

    .img {
      width: 100%;

      @include break-at(720px) { flex: 1; }
    }

    form {
      padding: 3rem 2rem;
      margin-bottom: 0;
      width: 100%;
      background: #fff;
      flex: 1;

      @include break-at(720px) {
        width: 50%;
        float: right;
      }

      input {
        width: 100%;
      }

      input[type=submit] {
        background: $qc-maroon;
        color: #fff;
        padding: 0.5rem 0;
        box-shadow: none;
        border: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;

        &:hover {
          background: $qc-orange;
        }
      }
    }
  }
}
