/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: $sans-serif;
  font-weight: 400;
  background: #fff;
  color: $qc-dimgray;
  font-size: 1.5rem;

  background: url(../images/bg-wood.png) repeat fixed,
    url(../images/bg-triangle-down.png) no-repeat 15% -2% $qc-white fixed;

  background-blend-mode: multiply;

  @include break-at(640px) {
    font-size: 1.6rem;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  transition: 0.25s ease all;
  font-weight: bold;

  &:hover {
    transition: 0.25s ease all;
  }

  &.link--contact { font-weight: normal; }
}

.details {
  font-size: 1.2rem;
  font-style: italic;
}

// Formatting for hours block
.hours strong {
  white-space: nowrap;

  @include break-at(640px) {
    display: inline-block;
  }
}


ul.social {
  display: none;

  @include break-at(640px) {
    margin: $page-margin-narrow 8rem 2rem;
    display: block;
  }

  .subpage header & {
    float: right;
    max-width: 45%;
  }

  li {
    margin: 0 0.5rem;
    display: inline-block;

    a {
      background: url(../images/icon-email.svg) no-repeat;
      background-size: 100%;
      width: 0px;
      height: 0px;
      padding: 40px 40px 0 0;
      overflow: hidden;
      display: inline-block;

      &:hover {
        border-bottom: 0px;
        opacity: 0.75;
      }
    }

    &.facebook a {background-image: url(../images/icon-facebook.svg);}
    &.instagram a {background-image: url(../images/icon-instagram.svg);}
    &.twitter a {background-image: url(../images/icon-twitter.svg);}
  }
}
