/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/

// Default - Scale is 3:4 perfect fourth
// 550px > - Scale is 2:3 perfect fifth

h1, h2, h3, h4, h5, h6 {
    font-family: $atrament;
    font-weight: $normal;
    color: $qc-maroon;
    letter-spacing: 0.5px;
}

h1 {

    font-size: 70px;
    font-size: 3rem;
    line-height: 1.273;
    margin: 0;

    @include break-at(640px) {

        font-size: 100px;
        font-size: 3.5rem;

    }

    @include break-at(1200px) {

        font-size: 140px;
        font-size: 4rem;

    }

}

h2 {

    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1.680;
    margin-top: 42px;
    margin-top: 4.2rem;
    margin-bottom: 1.85rem;

    @include break-at(640px) {

        font-size: 36px;
        font-size: 3.6rem;
        line-height: 1.333;
        margin-top: 48px;
        margin-top: 4.8rem;
    }

    @include break-at(1200px) {

        font-size: 43px;
        font-size: 4.3rem;
        line-height: 1.395;
        margin-top: 60px;
        margin-top: 6rem;

    }

}

h3 {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;


    @include break-at(1200px) {

        font-size: 29px;
        font-size: 2.9rem;
        line-height: 1.034;
        margin-top: 30px;
        margin-top: 3rem;
    }
}

h4 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105;
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 24px;
        line-height: 2.4rem;
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}

h5 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105; 
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}


h6 {

    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.105; 
    margin-top: 21px;
    margin-top: 2.1rem;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.105; 
        margin-top: 21px;
        margin-top: 2.1rem;
        margin-bottom: 21px;
        margin-bottom: 2.1rem;

    }

    @include break-at(1200px) {

        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1; 
        margin-top: 24px;
        margin-top: 2.4rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

}

p, ul, ol, pre, table, blockquote {

    margin-bottom: 21px;
    margin-bottom: 2.1rem;

    @include break-at(640px) {

        margin-bottom: 24px;
        margin-bottom: 2.4rem;

    }

    @include break-at(1000px) {

        margin-bottom: 30px;
        margin-bottom: 3rem;

    }

}

p, ul, ol, pre, table, blockquote {

    margin-top: 0;
    margin-bottom: 21px;
    margin-bottom: 2.1rem;

}    


hr {

    border: 0;
    height: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 1);

}
ul ul, ol ol, ul ol, ol ul {

    margin-top: 0;
    margin-bottom: 0;

}
b, strong, em, small, code {

    line-height: 1;

}
sup, sub {

    vertical-align: baseline;
    position: relative;
    top: -0.4em;

}
sub {

    top: 0.4em;

}
