/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/

a {
    
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    outline: 0;

    &:hover {

        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;

    }

    &:active {

        color: darken( $primary-color, 10% );

    }

    &:focus {

        color: darken( $primary-color, 10% );

    }

    &:focus {

        outline: 2px solid $primary-color;
        
    }

}